
            ul{list-style-type: none; margin:0}
            h1{font-size:5; font-weight:bold; margin:0}
            h2{font-size:4; font-weight:bold; color: #2E74B5; margin:0}
            h3{font-size:5; font-weight:bold; color: #2E74B5; margin:0}
            table{border-collapse: collapse;}
            td {border: 1px black solid;}            


    


        /*.indented
         {
            padding-left: 30pt;
         }
	*/
        .titleHeader {
            margin: 0cm;
            font-size:2em;
            font-weight: bold;
            text-align:center;
        }
        .subtitleHeader {
            margin: 0cm;
            font-size:1.5em;
            font-weight: normal;
            text-align:center;
        }
#tocTitle {
	font-family: "Times New Roman";
	font-size:1.5em;
	font-weight: bold;
	color: blue; 
	margin:0;
}
